.editor-poderes {
    background: #1f1f1f;
    color: #fff;
    padding: 20px;
}

.editor-poderes {
    padding: 20px;
}

.poderes-secao {
    margin-bottom: 32px;
}

.poderes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
}

.poder-card {
    background: #222;
    border-radius: 10px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.poder-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.6);
}

.poder-header h4 {
    margin: 0;
    font-size: 1rem;
    color: #f5f5f5;
}

.poder-descricao {
    font-size: 0.85rem;
    color: #cfcfcf;
    margin: 5px 0 20px;
    line-height: 1.4;
    height: 200px;
    overflow-y: auto;
    padding: 4px;
}


/* Chrome, Edge, Safari */
.poder-descricao::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.poder-descricao::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}

.poder-descricao::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 2px solid #222;
}

.poder-descricao::-webkit-scrollbar-thumb:hover {
  background-color: #857dff;
}

.poder-btn {
    border: none;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s ease;
}

.poder-btn.adicionar {
    background: #2ecc71;
    color: #0b2e1a;
}

.poder-btn.adicionar:hover {
    background: #27ae60;
}

.poder-btn.remover {
    background: #e74c3c;
    color: #2c0b0b;
}

.poder-btn.remover:hover {
    background: #c0392b;
}

h3 {
    margin-bottom: 12px;
}

button { 
    padding:10px 14px; 
    border:none; 
    border-radius:6px; 
    cursor:pointer; 
}

.back-btn {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    font-family: Arial, sans-serif;
    display: contents;
}

.top-content {
    display: flex;
    justify-content: space-between;
    padding: 8px 30px;
    align-items: center;
}

.menu-divider {
    height: 1px;
    background: #444;
    margin: 15px 0;
}